{{<layout}}
    {{$propositionHeader}}
      {{>propositional_navigation_alpha}}
    {{/propositionHeader}}
{{$headerClass}}with-proposition{{/headerClass}}
{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#radio-inline-1").click(function(){
    $("#earn-less").show();
    $("#earn-more").hide();
  });
  $("#radio-inline-2").click(function(){
    $("#earn-less").hide();
    $("#earn-more").show();
  });

  $("#radio-inline-3").click(function(){
    $("#noBetween").hide();
    $("#yesBetween").show();
  });
  $("#radio-inline-4").click(function(){
    $("#yesBetween").hide();
    $("#noBetween").show();
  });
  

});
</script>
<main id="content" role="main">
<div class="inner-block">
  <a class="back-to-previous" href="calc1">Back<span class="visuallyhidden"> to the previous question</span></a>
<div id="global-breadcrumb" class="header-context">
        <ol class="group "role="breadcrumbs">
  <li><a href="/">Home</a></li>
  <li>Am I eligible?</li>
  </ol>
<fieldset class="inline">
  <h2 class="heading-large">Does only one of you earn less than £9,450?</h2>
  <label class="block-label" for="radio-inline-1">
    <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">Yes
  </label>
  <label class="block-label" for="radio-inline-2">
    <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">No
  </label>
</fieldset>
  <fieldset class="inline">
  <div id="earn-less" style="display:none">
    <div class="form-group">
    <a href="pre-reg_form" button class="button" style="margin-top:25px">Next</a>
  </div>
</div>
</fieldset>
 <fieldset class="inline">
<div id="earn-more" style="display:none">
  <h2 class="heading-large">Does that person earn between £9,450 and £10,499?</h2>
   <div class="form-group">
    <label class="block-label" for="radio-inline-3">
      <input id="radio-inline-3" type="radio" name="radio-inline-group2" value="Yes">Yes
    </label>
    <label class="block-label" for="radio-inline-4">
      <input id="radio-inline-4" type="radio" name="radio-inline-group2" value="No">No
    </label>

<div id="yesBetween" style="display:none">
    <div class="form-group">
    <div class="panel-indent"><p>If one of you earns between £9,450 and £10,499 you may benefit from sharing your tax free allowance. The amount you will receive depends on your earnings.</p>
    </div>  
    <a href="pre-reg_form" button class="button">Next</a>
  </div>
      <div class="panel-indent" id="noBetween" style="display:none"><a href="pre-reg_form" button class="button">Next</a>
  </div>
</div>

</fieldset></div>
  </main>
{{/content}}

{{/layout}}