{{<layout}}
    {{$propositionHeader}}
      {{>propositional_navigation_alpha}}
    {{/propositionHeader}}
{{$pageTitle}}Index{{/pageTitle}}
{{$headerClass}}with-proposition{{/headerClass}}
{{$pageTitle}}Index{{/pageTitle}}
{{$content}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#radio-inline-1").click(function(){
    $("#earn-less").show();
    $("#earn-more").hide();
  });
  $("#radio-inline-2").click(function(){
    $("#earn-less").hide();
    $("#earn-more").show();
  });
});
</script>

<main id="content" role="main">
<div class="inner-block">
<div id="global-breadcrumb" class="header-context">
  <ol class="group" role="breadcrumbs">
    <li><a href="start2">Home</a></li>
    <li>Your details</li>
  </ol>
</div>
<a class="back-to-previous" href="calc3">Back<span class="visuallyhidden"> to the previous question</span></a>

  <fieldset class="inline">
    <h2 class="heading-large">Does one of you earn more than £10,500?</h2>
    <div class="form-group">
    <label class="block-label" for="radio-inline-1">
      <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">Yes
    </label>
    <label class="block-label" for="radio-inline-2">
      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">No
    </label>
  </div>
  </fieldset>

<div id="earn-less" style="display:none">
    <fieldset class="inline">
    <div class="panel-indent">
    <p>You're likely to benefit from transferring part of your tax free allowance.</p>
  </div>
  <a href="pre-reg_form" button class="button">Register now</a>
  </fieldset>
</div>
<div id="earn-more" style="display:none">
  <div class="panel-indent">
    <p>You won't benefit from applying for a tax reduction because your earnings are still within your tax free limit.</p>
  </div>
</div>
</main>
{{/content}}
{{/layout}}