{{<layout}}
    {{$propositionHeader}}
      {{>propositional_navigation_alpha}}
    {{/propositionHeader}}
   
    {{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<style>
.steps{
  float:right;
  padding-right:860px;
   font-size: 16px;
       color: #6f777b;
}
</style>
<script>
$(document).ready(function(){
  $("#radio-inline-1").click(function(){
    $("#earn-less").show();
    $("#earn-more").hide();
  });
  $("#radio-inline-2").click(function(){
    $("#earn-less").hide();
    $("#earn-more").show();
  });
});
</script>

 

<main id="content" role="main">
  <div class="inner-block">

<div id="global-breadcrumb" class="header-context">
  <ol class="group" role="breadcrumbs">
    <li><a href="start2">Home</a></li>
    <li>Your details</li>
  </ol>
</div>
<a class="back-to-previous" href="start2">Back<span class="visuallyhidden"> to the previous question</span></a>
  <h2 class="heading-large">Do either of you earn less than £42,285?</h2>
  <fieldset class="inline">
    <div class="form-group">
    <label class="block-label" for="radio-inline-1">
    <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">Yes
    </label>
    <label class="block-label" for="radio-inline-2">
    <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">No
    </label>
    </div>
  </fieldset>
  <fieldset class="inline">
    <div id="earn-less" style="display:none">
    <a href="calc2" button class="button">Next</a>
    </div>
  </fieldset>
  <fieldset class="inline">
  <div id="earn-more" style="display:none">
    <div class="panel-indent">
      <p>You cannot transfer part of your tax free allowance because one of you is a <a href="https://www.gov.uk/income-tax-rates/current-rates-and-allowances" rel="external" target="_new">higher rate tax payer</a>.</p>
    </div>
  </div>
  </fieldset>
 </div>
  </main>
{{/content}}

{{/layout}}