
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
<div class="inner-block">
<div class="header-context" id="global-breadcrumb">
        <ol class="group "role="breadcrumbs">
  <li><a href="/start1_2">Home</a></li>
  <li><a href="/eligibility1_2">Am I eligible?</a></li>
   <li><a href="/pre-reg_form1_2">Register for an alert</a></li>
    <li>Done</li>
  </ol>
</div>
<h1 class="heading-xlarge">You will receive an alert to apply</h1>
Dear <span id="your-name">your name here</span>
    <p>A confirmation email has been sent to you from <a href="#">no.reply@digital.hmrc.gov.uk</a><br>If it doesn't appear in your inbox, please check your spam or junk folder and add us to your safe list.<br>
          <h2 class='heading-medium'>What happens next</h1>You'll be notified by email in summer 2015 to apply online.</p>
        <div class="panel-indent">
    <p>
      Applying should take no more than 20 minutes and you will only need to do it once.<br>If you experience any problems when applying, support will be available.
    </p>
  </div>
</div>
</main>
{{/content}}
{{/layout}}
