
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <div class="inner-block">
<div class="header-context" id="global-breadcrumb">
        <ol class="group "role="breadcrumbs">
  <li><a href="/start2">Home</a></li>
  <li><a href="/calc1">Check if eligible</a></li>
   <li><a href="/pre-reg_form2">Register your interest</a></li>
    <li>Registered</li>
  </ol>
</div>
    <h1 class="heading-xlarge">Your interest has been registered</h1>
    <h2 class='heading-large'>What happens now?</h1>
    <p>You'll be notified in 6-8 weeks when registration for this new tax benefit opens.<br>You'll then be invited to apply online.</p>
</div>
</main>
{{/content}}
{{/layout}}