
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
       <style>
    .third
    {width:70%;}
    </style>
<div class="inner-block third">
<div class="header-context" id="global-breadcrumb">
        <ol class="group "role="breadcrumbs">
  <li><a href="/start1_5d">Home</a></li>
   <li><a href="/pre-reg_form1_5d">Register your interest</a></li>
    <li>Done</li>
  </ol>
</div>
<h1 class="heading-xlarge">Thanks for registering</h1>
Dear <span id="your-name">your name here</span>
    <p>An email confirming your interest will be sent to you at <a href="#">yourname@youremail.co.uk</a> from <a href="#">noreply@tax.service.gov.uk</a></p><p>If it doesn't appear in your inbox, please check your spam or junk folder.</p>
          <h2 class='heading-medium'>What happens next</h1>
            We'll notify you within 14 weeks when applications for Marriage Allowance are open and invite you to apply. There is no need to contact us.
        <div class="panel-indent">
    <p>Applying should take no more than 20 minutes and you'll only need to do it once.
    Your spouse or civil partner won't need to register or apply.</p>
  </div>
            <p>Depending on your circumstances your spouse or civil partner may not get the full £212. Before making your application we'll give you more detailed information.</p>
            <a href="https://gov.uk" rel="internal">Go back to GOV.UK home</a>
</div>
</main>
{{/content}}
{{/layout}}
