{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <div class="inner-block">
    <ul id="breadCrumbs">
    <li><a href="/">Home</a></li><span> > </span>
    <li><a href="/start">Transferrable allowances</a></li><span> > </span>
    <li><a href="/eligibility_v1">Am I eligible?</a></li><span> > </span>
    <li>Confirmation</li>
    </ul>
    <h1 class="heading-xlarge">Your details have been submitted successfully</h1>
    <h2 class='heading-large'>Next steps</h1>
    <p>You will be contacted when the service is available. You will then be able to check you're eligible and apply for the tax reduction.</p>
</div>
</main>
{{/content}}
{{/layout}}