
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
       <style>
    .third
    {width:70%;}
    </style>
<div class="inner-block third">
<div class="header-context" id="global-breadcrumb">
        <ol class="group "role="breadcrumbs">
  <li><a href="/start1_4">Home</a></li>
  <li><a href="/eligibility1_4">Am I eligible?</a></li>
   <li><a href="/pre-reg_form1_4">Register your interest</a></li>
    <li>Done</li>
  </ol>
</div>
<h1 class="heading-xlarge">Thanks for registering</h1>
Dear <span id="your-name">your name here</span>
    <p>An email confirming your interest has been sent to you from <a href="#">no.reply@digital.hmrc.gov.uk</a></p><p>If it doesn't appear in your inbox, please check your spam or junk folder.</p>
          <h2 class='heading-medium'>What happens next</h1>
            We'll notify you within 12 weeks when applications for Marriage Allowance are open and then invite you to apply.
        <div class="panel-indent">
    <p>
      Applying should take no more than 20 minutes and you'll only need to do it once.
    Your spouse or civil partner won't need to register or apply.
    </p>
  </div>
      <p>Depending on your circumstances your spouse or civil partner may not get the full £212 benefit. When we invite you to apply, we'll give you more information.</p>
</div>
</main>
{{/content}}
{{/layout}}
