{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <div class="inner-block">
    <ul id="breadCrumbs">
    <li><a href="/">Home</a></li><span> > </span>
    <li><a href="/start">Transferrable allowances</a></li><span> > </span>
    <li><a href="/eligibility_v1">Am I eligible?</a></li><span> > </span>
    <li>Confirmation</li>
    </ul>
    <h1 class="heading-large">Thanks for pre-registering</h1>
    <h2 class='heading-medium'>What will happen now</h1>
      We'll contact you in early XXXX 2015 to help you with your full application when the service goes live.
      <p>You'll only have to apply once to benefit from then onwards</p>
</div>
</main>
{{/content}}
{{/layout}}