{{<layout}}
    {{$propositionHeader}}
      {{>propositional_navigation_alpha}}
    {{/propositionHeader}}
{{$pageTitle}}Index{{/pageTitle}}
{{$headerClass}}with-proposition{{/headerClass}}
{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <div class="inner-block">
<div id="global-breadcrumb" class="header-context">
  <ol class="group" role="breadcrumbs">
    <li><a href="start">Home</a></li>
    <li><a href="start">Your details</a></li>
    <li><a href="pre-reg_form">Register</a></li>
    <li>Confirmation</li>
  </ol>
</div>
    <h1 class="heading-xlarge">Your details have been submitted successfully</h1>
    <h2 class='heading-large'>Next steps</h1>
    <p>We will contact you when the service is available.</p>
</div>
</main>
{{/content}}
{{/layout}}