
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
<div class="inner-block">
<div class="header-context" id="global-breadcrumb">
        <ol class="group "role="breadcrumbs">
  <li><a href="/start1_4">Home</a></li>
  <li><a href="/eligibility1_4">Am I eligible?</a></li>
   <li><a href="/pre-reg_form1_4">Thanks for registering</a></li>
    <li>Done</li>
  </ol>
</div>
<h1 class="heading-xlarge">Thanks for registering</h1>
Dear <span id="your-name">your name here</span>
    <p>An email confirming your interest has been sent to you from <a href="#">no.reply@digital.hmrc.gov.uk</a><br>If it doesn't appear in your inbox, please check your spam folder.<br>
          <h2 class='heading-medium'>What happens next</h1>We'll notify you within 12 weeks when applications for Marriage Allowance are open and invite<br>you to apply.</p>
        <div class="panel-indent">
    <p>
      Applying should take no more than 20 minutes and you'll only need to do it once.<br>
    Your partner or spouse doesn't have to apply.
    </p>
  </div>
      <p>Depending on your circumstances you may not get the full £212 benefit.<br>When we invite you to apply, you'll be given more information to help you decide your best option.</p>
</div>
</main>
{{/content}}
{{/layout}}
