
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <div class="inner-block">
<div class="header-context" id="global-breadcrumb">
        <ol class="group "role="breadcrumbs">
  <li><a href="/start1_2">Home</a></li>
  <li><a href="/eligibility1_2">Am I eligible?</a></li>
   <li><a href="/pre-reg_form1_2">Register for an alert</a></li>
    <li>Done</li>
  </ol>
</div>
    <h1 class="heading-xlarge">You will receive an alert when registration opens</h1>
    <p>A confirmation email has been sent to your email address: joebloggs@gmail.com<br>Please check your spam or junk folder and add us to your safe list.<br>
          <h2 class='heading-medium'>What happens next</h1>You'll be notified by email in 6-8 weeks when registration for this new tax reduction opens.<br>You'll then be invited to apply online.</p>
        <div class="panel-indent">
    <p>
      Applying should take no more than 20 minutes and you will only need to do it once.
    </p>
  </div>
</div>
</main>
{{/content}}
{{/layout}}