{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}

<main id="content" role="main">
       <style>
    .third
    {width:70%;}
    </style>
<div class="inner-block third">
<div class="header-context" id="global-breadcrumb">
        <ol class="group "role="breadcrumbs">
  <li><a href="/start1_4">Home</a></li>
  <li>Am I eligible?</li>
  </ol>
</div>
  <h1 class="heading-xlarge">Am I eligible?</h1>
              <!--<h2 class="heading-large">Before you start</h2>-->
            <p>You could transfer £1060 of your Personal Allowance to your spouse or civil partner if:</p>
            <ul class="list-bullet">
              <li>you are married or in a legally registered civil partnership</li> 
              <li>you have an annual income of less than £10,600 a year (around £880 a month)</li>
              <li>your spouse or civil partner has an annual income of more than £10,600 but less than £42,285 a year</li>
              <li>you were both born on or after 6 April 1935</li>
              <br>
            </ul>
              <!--<p>You may still be eligible even if you're getting other tax benefits like child tax credits.</p><br>-->
      <a href="pre-reg_form1_4" button class="button">Continue</a>
</main>
{{/content}}

{{/layout}}