{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}

<main id="content" role="main">
<div class="inner-block">
<div class="header-context" id="global-breadcrumb">
        <ol class="group "role="breadcrumbs">
  <li><a href="/start1_1">Home</a></li>
  <li>Am I eligible?</li>
  </ol>
</div>
  <h1 class="heading-xlarge">Am I eligible?</h1>
              <!--<h2 class="heading-large">Before you start</h2>-->
            <p>You are eligible to share your personal tax allowance with your partner or spouse if:</p>
            <ul class="list-bullet">
              <li>you are married or in a legally registered civil partnership</li> 
              <li>you have an annual income of less than £10,600 per year<br>(that's around £883.33 per month or £220.83 per week)</li>
              <li>your partner or spouse has an annual income of more than £10,600 but less than £42,285 per year</li>
              <li>you were both born after 1935</li>
              <li>you both live in the UK</li>
            </ul>

      <a href="pre-reg_form1_1" button class="button">Continue</a>
</main>
{{/content}}

{{/layout}}