{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <div class="inner-block">
    <div id="global-breadcrumb" class="header-context">
      <ol role="breadcrumbs" class="group">
        <li><a href="/">Home</a></li>
        <li>&#62;</li>
        <li><a href="/browse/citizenship">Transferrable allowances</a></li>
      </ol>
    </div>
    <h1 class="heading-large">Am I eligible?</h1>
      <p>To be eligible your must be:</p>
        <ul class="bullet-points">
        <li>Married or in a civil partnership (same sex) <br> and</li>
      <li>You and your spouse were born after 1935 <br>If BOTH of the above apply to you and your spouse or partner, you may benefit through a transfer allowance.</p></li>
    </ul>
    <br>
    <p class="visuallyhidden"><a href="#what-you-need-to-know">What you need to know</a></p>
    <p id="get-started" class="get-started group">
      <a href="calc1" rel="external" data-transaction-slug="register-to-vote" class="button">Pre-register now</a>
    </p>
  </article>
  </div>
</main>
{{/content}}

{{/layout}}
