{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <div class="inner-block">
<div id="global-breadcrumb" class="header-context">
      <ol role="breadcrumbs" class="group">
<li><a href="/">Home</a></li>
      <li><a href="/browse/citizenship">Transferrable allowances</a></li>
</ol>
</div>
  </div>
  <div id="wrapper" class="transaction service">
      
<main id="content" role="main" class="group"><header class="page-header group"><div>
      <h1 class="heading-large">Am I eligible?</h1>
    </div>
  </header><div class="article-container group">
    
    <article role="article" class="group"><div class="inner">

      <section class="intro"><div class="get-started-intro">
<p>To be eligible your must be:</p>
<ul>
   <li>Married or in a civil partnership (same sex)<br></li>
   <p>and</p>
  <li>You and your spouse were born after 1935</li>
  <p>If BOTH of the above apply to you and your spouse or partner, you may benefit tyhrough a transfer allowance.</p>
</ul>
</div>
        <p class="visuallyhidden"><a href="#what-you-need-to-know">What you need to know</a></p>
        <p id="get-started" class="get-started group">
          <a href="pre-reg_form" rel="external" data-transaction-slug="register-to-vote" class="button">Pre-register now</a>
        </p>
      
</main>
{{/content}}

{{/layout}}
