{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <div class="inner-block">
    <ul id="breadCrumbs">
    <li><a href="/">Home</a></li><span> > </span>
    <li><a href="/start">Transferrable allowances</a></li><span> > </span>
    <li>Am I eligible?</li>
    </ul>
    <h1 class="heading-large">Am I eligible?</h1>
    To be eligible your must be:
    <ul class="list-bullet">
    <li>married or in a civil partnership (same sex) <span class="emphasis">and</span></li>
    <li>you and your spouse were born after 1935 If BOTH of the above apply to you and your spouse or partner, you may benefit through a transfer allowance.</li>
    </ul>
    <a href="pre-reg_form"  class="button">Pre-register now</a>
  </div>
</main>
{{/content}}
{{/layout}}