{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <div class="inner-block">
<div id="global-breadcrumb" class="header-context">
      <ol role="breadcrumbs" class="group">
<li><a href="/">Home</a></li>
      <li><a href="/browse/citizenship">Transferrable allowances</a></li>
</ol>
</div>
  </div>
  <div id="wrapper" class="transaction service">
      
<main id="content" role="main" class="group"><header class="page-header group"><div>
      <h1 class="heading-large">Pre-registration form</h1>
    </div>
  </header><div class="article-container group">
    
    <article role="article" class="group"><div class="inner">

      <section class="intro"><div class="get-started-intro">
<p>Please tell us your contact details</p>
   <div class="form-group">
    <label class="form-label" for="first-name-2">First name</label>
    <input class="form-control" id="first-name-2" type="text">
  </div>
  <div class="form-group">
    <label class="form-label" for="last-name-2">Last name</label>
    <input class="form-control" id="last-name-2" type="text">
  </div>
   <div class="form-group">
    <label class="form-label" for="email-address-2">Email address</label>
    <input class="form-control" id="email-addresse-2" type="text">
  </div>
  <div class="form-group">
    <label class="form-label" for="mobile-number-2">Mobile number</label>
    <input class="form-control" id="mobile-number-2" type="text">
  </div>
    <div class="form-group">
        <input id="checkbox-telephone-number" type="checkbox" value="agree-to-research">
   Tick this box if you are happy for us to contact you for research purposes
  </label>
  </div>
        <p class="visuallyhidden"><a href="#what-you-need-to-know">What you need to know</a></p>
        <p id="get-started" class="get-started group">
          <a href="https://www.registertovote.service.gov.uk/register-to-vote/start" rel="external" data-transaction-slug="register-to-vote" class="button">Submit pre-registration</a>
        </p>
      
</main>
{{/content}}

{{/layout}}
