{{<govuk_template}}
    {{$head}}
      {{>head}}
      <!-- Additional head code, CSS, JS specific only to this file here. If needed on other screens consider moving to separate file -->
     
    {{/head}}
   
    {{$propositionHeader}}
      {{>propositional_navigation_alpha}}
    {{/propositionHeader}}
   
    {{$headerClass}}with-proposition{{/headerClass}}
   
    {{$footerTop}}
                {{>footer_links}}
    {{/footerTop}}
   
    {{$pageTitle}}
        Start
    {{/pageTitle}}
   
    {{$content}}

<main id="content" role="main">  <div class="inner-block">
  


<div id="global-breadcrumb" class="header-context">
  <ol class="group" role="breadcrumbs">
    <li><a href="start2">Home</a></li>
    <li>Your details</li>
  </ol>
</div>

<h1 class="heading-xlarge">Apply for a tax reduction if you're married <br>or in a civil partnership</h1>
  <div class="article-container group">
    <article role="article" class="group">
      <p class="lede">If you're married or in a civil partnership you may be able to reduce the tax you pay.</p>
        <p>Most people can earn up to £10,500 a year before they pay tax. If you earn less than this,<br/> you can share your tax free allowance with your partner.</p>
          <div class="text">
            <div class="panel-indent">
             <p>Eligible couples could get up to £210 back each year.</p>
            </div>
            </div>
<p>An eligible couple must:</p>

<ul class="list-bullet">
<li>be married or in a civil partnership</li> 
<li>both be born after 1935</li>
</ul>

<p>This service will be available in 2015 but you can tell us if you're interested now. <br/>Registering takes around 5 minutes.</p>

<h2 class="heading-large">Before you start</h2>

<p>You will need to know:</p>

<ul class="list-bullet">
<li>your income</li> 
<li>your partner's income</li>
</ul>        </article>
          </div>
    <a href="calc1" button class="button button-get-started">Start now</a>

</main>
{{/content}}

{{/govuk_template}}
