{{<govuk_template}}
    {{$head}}
      {{>head}}
      <!-- Additional head code, CSS, JS specific only to this file here. If needed on other screens consider moving to separate file -->
    {{/head}}

    {{$headerClass}}with-proposition{{/headerClass}}

    {{$footerTop}}
                {{>footer_links}}
    {{/footerTop}}

    {{$pageTitle}}
        Start
    {{/pageTitle}}

    {{$content}}

<main id="content" role="main"><div id="content">
  {{>hmrc_banner}}
     <style>
    .third
    {width:72%;}
    </style>
  <div class="grid-wrapper">
    <div class="grid grid 4-3-4">
      <div class="inner-block third">
        <div class="header-context" id="global-breadcrumb">
        <ol class="group "role="breadcrumbs">
          <li><a>Home</a></li>
        </ol>
      </div>
        <h1 class="heading-xlarge">Marriage Allowance<br></h1>
        <p>Most people can earn up to £10,600 a year before paying tax on their <a href="https://www.gov.uk/income-tax/overview">income</a> which includes pensions, savings and investments. This is called a <a href="https://www.gov.uk/income-tax-rates">Personal Allowance</a>.</p><p>For the tax year 2015 to 2016, if your income is less than £10,600 (£880 a month), Marriage Allowance lets you transfer £1060 of your Personal Allowance to your spouse or civil partner. This may reduce the amount of tax they pay by up to £212 annually.</p>
          <div class="article-container group">
          <article role="article" class="group">
            <div class="highlight-answer">
              Couples may benefit annually by up to<span class="noticed">£212</span>
              </div>
        <h2 class="heading-large">Register your interest</h2>
        <p>You'll be able to apply later in the year, but you can register your interest now.</p>
                      <h2 class="heading-large">Before you start</h2>
                          <p>Find out if you're eligible before you register your interest.</p>
            <p>You could transfer £1060 of your Personal Allowance to your spouse or civil partner if:</p>
            <ul class="list-bullet">
              <li>you're married or in a legally registered civil partnership and</li>
              <li>you have an annual income of less than £10,600 a year (around £880 a month) and</li>
              <li>your spouse or civil partner has an annual income of more than £10,600 but less than £42,385 a year and</li>
              <li>you were both born on or after 6 April 1935</li>
            </ul>
<div class="panel-indent">
    <p>
      You don't have to register, but if you do we'll tell you when you can apply. Registering will only take around 3 minutes.<br>
    </p>
  </div>
          </article>
        </div>
    <a href="pre-reg_form1_5c" button class="button button-get-started">Start now</a>
</main>
{{/content}}
{{/govuk_template}}