{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <div class="inner-block">
        <ul id="breadCrumbs">
        <li><a href="/">Home</a></li><span> > </span>
        <li>Transferrable allowances</li>
        </ul>
        <h1 class="heading-xlarge">Transferrable allowances for married couples and civil partners</h1>
        This is a new tax benefit where you can transfer part of your income tax allowance to your partner as a tax saving of up to £200.      
        <h2 class="heading-large">Pre-register for your transferrable allowance</h1>
          Find out now if you're eligible - pre-registering takes around <span class="emphasis">5</span> minutes.
        <p>The tax reduction you pass onto your partner could help with things like your tv licence or nappies every month if you are a parent or guardian</li>
        </p>
        <a href="eligibility_v1" button class="button button-get-started">Check if your eligible</a>
    </div>
</main>
{{/content}}

{{/layout}}
