{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <div class="inner-block">
    <div id="global-breadcrumb" class="header-context">
      <ol role="breadcrumbs" class="group">
        <li><a href="/">Home</a></li>
        <li>&#62;</li>
        <li><a href="/browse/citizenship"> Transferrable allowances</a></li>
      </ol>
    </div>

    <h1 class="heading-xlarge">Transferrable allowances for<br>married couples and civil partners</h1>
  
    <div class="article-container group">
      <article role="article" class="group">
        <section class="intro">
          <div class="get-started-intro">
            <p>This is a new tax benefit where you can transfer part of your income tax allowance to your partner<br>as a tax saving of up to £200.</p>
            <h1>Pre-register for your transferrable allowance</h1><br>

            <ul class="bullet-points">
               <li>Find out now if you're eligible - pre-registering takes around 5 minutes.</li>
               <li>The tax reduction you pass onto your partner could help with things like your tv licence or nappies every month if you are a parent or guardian</li>
            </ul>
        </section>
      </article>
    </div>
    <a href="eligibility_v1" button class="button button-get-started">Check if your eligible</a>
</main>
{{/content}}

{{/layout}}
