{{<govuk_template}}
    {{$head}}
      {{>head}}
      <!-- Additional head code, CSS, JS specific only to this file here. If needed on other screens consider moving to separate file -->
    {{/head}}
   
    {{$propositionHeader}}
      {{>propositional_navigation_alpha}}
    {{/propositionHeader}}
   
    {{$headerClass}}with-proposition{{/headerClass}}
   
    {{$footerTop}}
                {{>footer_links}}
    {{/footerTop}}
   
    {{$pageTitle}}
        Start
    {{/pageTitle}}
   
    {{$content}}
<main id="content" role="main">
  <div id="global-breadcrumb" class="header-context">
  <ol class="group" role="breadcrumbs">
    <li><a href="start2">Home</a></li>
  </ol>
</div>
        <h1 class="heading-xlarge">Apply for a tax reduction for your spouse<br>or partner</h1>
        <div class="article-container group">
          <article role="article" class="group">
            <p class="lede">If you're married or in a civil partnership you may be able to reduce the tax you pay.</p>
        <p>Most people can earn up to £10,500 a year before they pay tax. If you earn less than this, you can share your tax free allowance with your partner.</p>
          <div class="text">
            <div class="panel-indent">
             <p>Eligible couples could get up to £210 back each year.</p>
            </div>
<p>An eligible couple must:</p>

<ul class="list-bullet">
<li>be married or in a civil partnership</li> 
<li>both be born after 1935</li>
<li>addtional bullet info here</li>
<li>addtional bullet info here</li>
            <h2 class="heading-large">How to apply</h2>
            <p>Applying to transfer part of your tax allowance to your spouse or partner is a simple 3 step process:</p>
            <ul class="list-bullet">
              <li>Step 1: Check your eligibility and find out how much your partner could save on their tax</li> 
              <li>Step 2: Verify your identity</li> 
              <li>Step 3: Tell us your spouse or partner's detailsfull name, national insurance number and date of birth and submit your application</li> 
            </ul>  
            <p>Applying takes no longer than 15 minutes.</p>
        </div>
    <a href="pre-reg_form" button class="button button-get-started">Start now</a>
  </article>
</main>
{{/content}}
{{/govuk_template}}