
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<script type="text/javascript" src="https://www.websitecodetutorials.com/code/jquery-plugins/jquery.js"></script>
<script type="text/javascript" src="https://www.websitecodetutorials.com/code/jquery-plugins/validation.js"></script>
<main id="content" role="main">
  <script type="text/javascript">
/* Fire Valaidate */
  $(document).ready(function(){
    $.validator.addMethod("nourl", 
                    function(value, element) {
                         return !/http\:\/\/|www\.|link\=|url\=/.test(value);
                        }, 
                        "No URL's"
      );
    $(".form.b").validate({
        rules: {
          firstName: {
          required: true
          },
          lastName: {
          required: true
          },
          email: {
          required: true,
          email: true
          },
          comments: {
          required: true,
          minlength: 5,
          nourl: true
          }
        },
        messages: {
          firstName: "Enter your first name",
          lastName: "Enter your last name ",
          email: "Valid Email Required",
          comments: "Required Field + No URL's"
        }
      });       
  });
</script>
<style type="text/css">
/* ----------------- Form ----------------- */

/* ----------- jQuery Validation ----------- */

/* --- Form B --- */
.form.b label.error {
    float:right;
    padding-right:530px;
margin:0;
color:red;
}
input.error
{
  border:red 3px solid;
}
label.error{
    border-left: 4px solid #df3034;
    clear: both;
    color: #df3034;
    display: none;
    font-size: 19px;
    font-weight: bold;
    margin: 1em 0 1em -14px;
    padding: 10px 10px 10px 5px;
    float:left;
    color: red;
}



</style>
<!--[if IE]>
<style type="text/css">
.form.d label.error {top:-38px;}
.form.d label.error:before {content:"";}
</style>
<![endif]-->
<div class="inner-block">
<div class="header-context" id="global-breadcrumb">
        <ol class="group "role="breadcrumbs">
  <li><a href="/start2">Home</a></li>
  <li><a href="/calc1">Check if eligible</a></li>
  <li>Register your interest</li>
  </ol>
</div>
  <h1 class="heading-xlarge">Register your interest</h1>
  <p>By giving us your contact details now, you'll be notified when registration for this new tax benefit opens.<br>You'll then be invited to apply online.</p>
  <form class="form b" method="get" action="confirm2">
<fieldset class="validate">
 <div class="form-group">
    <label class="form-label" for="first-name-2">First name</label>
    <input class="form-control" id="first-name-2" type="text">
  </div>
  <div class="form-group">
    <label class="form-label" for="last-name-2">Last name</label>
    <input class="form-control" id="last-name-2" type="text">
  </div>
   <div class="form-group">
    <label class="form-label" for="email-2">Email</label>
    <input class="form-control" id="email-2" type="text">
  </div>
  <div class="form-group">
    <label class="form-label" for="mobile-2">Mobile</label>
    <input class="form-control" id="mobile-2" type="text">
  </div>

</fieldset>

<fieldset class="inline">
  <div class="form-group">
<fieldset class="inline sub-section validate " data-validation-name="previousQuestion" data-validation-type="fieldset" data-validation-rules="atLeastOneNonEmpty" data-validation-children="yes-contact-me previousNo">
 <div class="form-group"> 
  <label class="form-checkbox" for="checkbox-telephone-number">
    <input id="checkbox-contactable-for-research" type="checkbox" value="checkbox-contactable-for-research">
    Please tick this box if you're happy for us to contact you for research purposes
  </label>
</div>
</fieldset>
  <input type="submit" class="button next validation-submit" value="Submit">
</main>
{{/content}}

{{/layout}}
