// Import elements
@import 'elements';

// Set up main content
#content {
  @include outer-block;
  padding-bottom: 120px;
}

.inner-block {
  @include inner-block;
}

// Your styles here

#global-breadcrumb{
    border-bottom: none;
}

#global-breadcrumb ol li {
    background-image: url("https://assets.digital.cabinet-office.gov.uk/static/separator-73822610794bc3a64871f144d93d6526.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    float: left;
    font-family: "nta",Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    list-style: outside none none;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0.5em;
    padding-right: 1em;
    text-transform: none;
}
#global-breadcrumb .group{
  padding-top:12px;
}
#global-breadcrumb ol li a {
    color: #0b0c0c;
}
#global-breadcrumb ol li:last-child {
    background-image: none;
    margin-right: 0;
}
/**end of breadcrumbs***/
.heading-medium {
    margin-bottom: 0.83333em;
    margin-top: .5em;
}
a.back-to-previous, a.back-to-previous:active, a.back-to-previous:hover, a.back-to-previous:focus {
    color: #0b0c0c;
}
form .back-to-previous {
    margin: 0;
    position: absolute;
}
a:link {
    color: #005ea5;
}
.back-to-previous {
    background: url("https://assets.registertovote.service.gov.uk/assets/images/icon-caret-left.png") no-repeat scroll left 0.2em rgba(0, 0, 0, 0);
    border-bottom: 1px solid #0b0c0c;
    display: block;
    font-family: "nta",Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    margin: 2em 0 0 0;
    overflow: hidden;
    padding-left: 0.75em;
    position: static;
    text-align: right;
    text-decoration: none;
    text-transform: none;
    width: 2.25em;
}
main header p {
float:right;
    text-align: left;
}
main header p {
    color: #6f777b;
    margin-right: 800px;
}
main header, main header p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    text-transform: none;
}

.highlight-answer, .highlighted-event {
    font-size: 1.2em;
    background-color: #28a197;
    color: #fff;
    text-align: center;
    padding: 1.1em 2em 0.2em 0.2em;
    margin: 0em 0em 1em 0em;
}


.noticed{
    font-size: 5em;
    font-weight: 700;
    display: block;
}

sup.reduce{
    font-size: .6em;
}
.extra-padding{
    padding-top: 1.5em;
}


header
{
    border:10
}
label.selectable {
    clear: left;
    float: left;
    line-height: 140%;
    margin-right: 1em;
}
label.selectable {
    background: none repeat scroll 0 0 #f0f0f0;
    cursor: pointer;
    display: block;
    margin: 0 0 1em;
    overflow: hidden;
    padding: 12px 14px 12px 46px;
    position: relative;
}
details summary {
    color: #005ea5;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0.26316em;
    padding-bottom:20px;
    position: relative;
}

details .summary {
    text-decoration: underline;

}
.validation-message {
    border-left: 4px solid #df3034;
    clear: both;
    color: #df3034;
    font-size: 19px;
    font-weight: bold;
    margin: 1em 0 1em -14px;
    padding: 10px;
}
#your-name
{color: #6F777B;
font-weight:800;
}
.form-date .form-group {
    clear: none;
    float: left;
    margin-bottom: 0;
    margin-right: 20px;
    width: 50px;
}
.form-date .form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-date .form-group input {
    width: 100%;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.form-control {
    background-color: #fff;
    border: 1px solid #bfc1c3;
    border-radius: 0;
    box-sizing: border-box;
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.31579;
    padding: 4px;
    text-transform: none;
    width: 100%;
}
.form-control {
    width: 50%;
}
.paddingboost{
    padding-top:20px;
}

main figure, main img {
    max-width: 100%;
}
.content-inner figure {
    float: right;
    max-width: 200px;
}
.content .content-inner figure {
    float: left;
}


.grid-rev .grid-1-3, .grid-rev .grid-2-3 {
    float: right;
}
.grid-rev .grid-1-3, .grid-rev .grid-2-3 {
    float: left;
}
.grid-1-3 {
    float: left;
    width: 33.3333%;
}
.grid-1-3 {
    box-sizing: border-box;
    padding: 0 15px;
}


.grid-section:after {
    clear: both;
    content: "";
    display: block;
}
.grid-section:after {
    clear: both;
    content: "";
    display: block;
}
.grid-section:after {
    clear: both;
    content: "";
    display: block;
}
.grid-section:after {
    clear: both;
    content: "";
    display: block;
}
.grid-section {
    margin: 0 -15px;
}


.content .content-inner {
    padding: 100px;
}
.content .content-inner {
    box-sizing: border-box;
    min-height: 500px;
    padding: 30px;
}
.blue-box{
    background-color: #005ea5;
    color:#ffffff;
}

.actions .button-action {
    margin-left: 15px;
    max-width: 150px;
    width: 42%;
}

.content .content-inner h1 {
    font-family: "nta",Arial,sans-serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 1.11111;
    margin-bottom: 45px;
    text-transform: none;
}

.content .content-inner h1 strong {
    display: block;
    font-weight: bold;
}
b, strong {
    font-weight: bold;
}

.content-inner p, .hub main .content .content-inner ul {
    font-family: "nta",Arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    text-transform: none;
}

.content-inner .gateway-about {
    margin-top: 30px;
}
.content-inner .gateway-about {
    font-family: "nta",Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    margin-top: 15px;
    text-transform: none;
}

.content .content-inner .actions .button-action {
    margin-left: 0px;
    max-width: 150px;
    width: 42%;
}
.content .content-inner a, .content .content-inner a:link, .content .content-inner a:visited, .content .content-inner a:hover, .content .content-inner a:active {
    color: #fff;
}
.content .content-inner .actions a {
    margin-bottom: 0;
}
.content .content-inner .button-action {
    min-width: 150px;
}
.content .content-inner a, .content .content-inner a:link, .content .content-inner a:visited, .content .content-inner a:hover, .content .content-inner a:active {
    color: #fff;
}
a:link {
    color: #005ea5;
}
.button-action {
    width: auto;
}
.button-action {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #fff;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    color: #005ea5 !important;
    display: inline-block;
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.31579;
    margin: 0 0 0px;
    padding: 0.52632em 0.78947em 0.26316em;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    width: 100%;
}
a {
    border: 0 none;
    padding: 0;
    text-decoration: underline;
}

.content {
    margin-bottom: 50px;
    margin-top: 50px;
}
.content {
    color: #fff;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 0;
}


.content .content-inner {
    box-sizing: border-box;
    min-height: 500px;
    padding: 30px;
}
.content .content-inner {
    padding: 100px;
}

.grid-rev .grid-1-3, .grid-rev .grid-2-3 {
    float: right;
}
.grid-2-3 {
    float: left;
    width: 66.6667%;
}
.grid-2-3 {
    box-sizing: border-box;
    padding: 0 15px;
}
.blue-box .content-inner h1 {
    font-family: "nta",Arial,sans-serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;
    text-transform: none;
}
.blue-box .content-inner p, .blue-box .content-inner ul {
    font-family: "nta",Arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    text-transform: none;
}

.list-icons li {
    padding: 20px 0 20px 65px;
    position: relative;
}

.list-icons .icon {
    margin-top: -23px;
    top: 50%;
}
.list-icons .icon {
    left: 0;
    position: absolute;
}

.icon {
    background-image: url("/public/benefits-icon-sprite-.png");
    background-repeat: no-repeat;
    background-size: 92px auto;
    display: inline-block;
    height: 46px;
    width: 46px;
}
.icon-clock { background-position: top left; }
.icon-tick { background-position: bottom left; }
.icon-padlock { background-position: top right; }
.list-companies {
    margin-bottom: 30px;
}

.list-companies li {
    display: inline;
    width: 50%;
}

.company {
    border: 5px solid #dee0e2;
    margin-bottom: 30px;
     text-align: center;
}


