{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <div class="inner-block">
     <h1 class="heading-xlarge">Prototypes: TAMC project</h1>
     <h2>08 December 2014 (Full application skeleton)<br></h2>
     <p><a href="app-start1">Full App Prototype v1.0 (iteration 1)<br></a></p>
     <h2>02 December 2014 (post first user test)<br></h2>
     <p><a href="start1_1">Pre-reg Prototype v1.1 (iteration 5.2): no calculator<br></a></p>
     <h2>28 November 2014<br></h2>
     <p><a href="start">Pre-reg Prototype v1.0 (iteration 5.1): no calculator</a></p>
     <p><a href="start2">Pre-reg Prototype v2: calculator</a></p>
  </div>
</main>
{{/content}}

{{/layout}}
