{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}
{{$content}}
<main id="content" role="main">
  <div class="inner-block">
     <h1 class="heading-xlarge">Prototypes: TAMC project</h1>
     <h1 class="heading-medium">Private beta</h1>
     <h2>22-23 January 2015 (User Research Session 3 - CAB/Job Centre Newcastle)<br></h2>
     <p><a href="start1_5b">Pre-reg Prototype v3.0 (iteration 5.5/Sprint 4)<br></a></p>
     <h2>16 January 2015 (Post GDS review - internal version)<br></h2>
     <p><a href="start1_4">Pre-reg Prototype v2.5 (iteration 5.4/Sprint 3)<br></a></p>
     <h1 class="heading-medium">Alpha</h1>
     <h2>19 December 2014 (User Research - Session 2 - UK Age Concern - East London)<br></h2>
     <p><a href="app-ida1">Full App - Skeleton Prototype v1.0 (iteration 1/Sprint 1)<br></a></p>
     <h2>17 & 19 December 2014 (User Research - Session 2 - UK Age Concern - East London)<br></h2>
     <p><a href="start1_3">Pre-reg Prototype v2.0 (iteration 5.3/Sprint 1)<br></a></p>
     <p><a href="public/confirm1_3_emailmock.pdf" target="_blank">Pre-reg confirmation email v1.0/paper prototype (iteration 1/Sprint 1)</a><p>(PDF of email mockup opens in new tab)</p>
     <h2>02 December 2014 (post first user research/internal version)<br></h2>
     <p><a href="start1_1">Pre-reg Prototype v1.0 (iteration 5.2/Sprint 0)<br></a></p>
     <h1 class="heading-medium">Discovery</h1>
     <h2>28 November 2014 (User Research - Session 1 - Tax Aid for Older People - Dorset)<br></h2>
     <p><a href="start">Pre-reg Prototype v0.0 (iteration 5.1/Sprint 0)</a></p>
     <p><a href="start2">Pre-reg Prototype v0.1: Calculator</a></p>
  </div>
</main>
{{/content}}
{{/layout}}
