{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}
{{$content}}
<main id="content" role="main">
  <div class="inner-block">
     <h1 class="heading-xlarge">Prototypes: TAMC project</h1>
     <h2>19 December 2014 (User Research - Test Session 2 - UK Age Concern - East London)<br></h2>
     <p><a href="app-ida1">Full App - Skeleton Prototype v1.0 (iteration 1)<br></a></p>
     <h2>17 December 2014 (User Research - Test Session 2 - UK Age Concern - East London)<br></h2>
     <p><a href="start1_3">Pre-reg Prototype v1.2 (iteration 5.3): no calculator<br></a></p>
     <h2>02 December 2014 (post first user test)<br></h2>
     <p><a href="start1_1">Pre-reg Prototype v1.1 (iteration 5.2): no calculator<br></a></p>
     <h2>28 November 2014 (User Research - Test Session 1 - Tax Aid for Older People - Dorset)<br></h2>
     <p><a href="start">Pre-reg Prototype v1.0 (iteration 5.1): no calculator</a></p>
     <p><a href="start2">Pre-reg Prototype v2: calculator</a></p>
  </div>
</main>
{{/content}}
{{/layout}}
