
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<style type="text/css">
#sub3 {
display: none;
}
</style>

<script language="JavaScript">
function showDiv() {
   document.getElementById('sub3').style.display = "block";
}
</script>
<style>

.destination {
    color: #0b0c0c;
    display: block;
    font-family: "nta",Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-top: 0.5em;
    max-width: 13em;
    text-transform: none;
}
</style>




<br><br>

<main id="content" role="main">

<div class="inner-block third">
  <span class="form-hint">Step 1 of 4</span></label>
  <h1 class="heading-xlarge">Marriage Allowance calculator</h1>
  <p>As a couple, find out how much less tax you may pay if you transferred your Personal Allowance to your husband, wife or civil partner.

</p>
  <p>This should help you decide whether or not to apply.</p>

<fieldset class="validate">
 <div class="form-group">
    <label class="form-label" for="first-name">Your annual income<br>
      <span class="form-hint">Must be less than £10,600</span></label>
    £&nbsp;<input class="form-control" id="first-name" type="text">
  </div>
  <div class="form-group" id="here">
    <label class="form-label" for="last-name-2">Your husband, wife or civil partner's annual income<br>
    <span class="form-hint">Must be between £10,601 and £42,385</span></label>
    £&nbsp;<input class="form-control" id="last-name-2" type="text">
  </div>
</fieldset>

<div id="sub3" style="display:none;">
  <p>Based on the information you have given us:</p>
  <div class="panel-indent your-details">
    <p>Your husband, wife or civil partner will benefit by £XXX.</p>
<p>This amount may change depending your income and personal circumstances between now and the end of the tax year.</p>
  </div>
</div> 
<input type="submit" id='bt1'  class="button next validation-submit" value="Calculate" onclick="showDiv()">
<input type="submit" id='bt2'  class="button next validation-submit" value="Reset" onclick="hideDiv()">
</fieldset>
<div>
       <a href="app-form1_2" button class="button">Skip</a></div>
</main>

{{/content}}
{{/layout}}