
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}



<main id="content" role="main"><div id="content">
  {{>hmrc_banner}}
     <style>
    .third
    {width:72%;}
    </style>
  <div class="grid-wrapper">
    <div class="grid grid 4-3-4">
      <div class="inner-block third">
  <h1 class="heading-large">Confirm your partner's details</h1>
    <p>Please check the details you entered for your partner are correct</p>

  <table>
  <thead>
    <tr>
      <th colspan="2">Your Partner's details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>First name</td>
      <td>Bob</td>
    </tr>
    <tr>
      <td>Last name</td>
      <td>Smith</td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>Male</td>
    </tr>
    <tr>
      <td>National Insurance Number</td>
      <td>JE 10 11 12 D</td>
    </tr>
  </tbody>
  </table>

  <div class="form-group"><p class="paddingboost">

         <a href="app-form1_2" button class="button">Edit partner's details</a>
      <div class="panel-indent">
    <p>
      By clicking on the 'Apply' button below, you will be transferring your personal tax allowance on to your (partner's name displayed here) to reduce the tax they pay.
    </p>
     <p>
      Please note that depending on your incomes and personal circumstances, your partner may not benefit by the full £212.
    </p>
  </div>
  <div>
<a href="app-finished1_2" button class="button">Apply</a>
</div>
</main>
{{/content}}
{{/layout}}