
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<style>
  .verify{
  color:#424242;
  padding-left:54%;
  padding-top:20px;
}
</style>
<h1 class="verify">John Smith, you last signed in on Saturday 21 February 2015</h1>


<main id="content" role="main">

<div class="inner-block third">
  <h1 class="heading-xlarge">Tax saving estimator</h1>
  <p>You can get an estimate on how much you can reduce your husband, wife or civil partner's tax by entering your incomes into the fields below.
  <p>We'll then advise you if it's worth moving on to applying based on the incomes you enter.</p>
<form class="form b" method="link" action="#" >
<fieldset class="validate">
 <div class="form-group">
    <label class="form-label" for="first-name">Your income (£)</label>
    <input class="form-control" id="first-name" type="text">
  </div>
  <div class="form-group">
    <label class="form-label" for="last-name-2">Your husband, wife or civil partner's income (£)</label>
    <input class="form-control" id="last-name-2" type="text">
  </div>
</fieldset>
<input type="submit" class="button next validation-submit" value="Estimate tax saving" onsubmit="return checkEmail(this);">
    <div class="panel-indent your-details">
    <p>
      Feedback text goes here..
    </p>
  </div>
       <a href="app-form1_2" button class="button">Continue to application form</a>
</fieldset>
</main>
</form>
{{/content}}
{{/layout}}