
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<style>
  .verify{
  color:#424242;
  padding-left:54%;
  padding-top:20px;
}
</style>
<h1 class="verify">John Smith, you last signed in on Saturday 21 February 2015</h1>


<main id="content" role="main"><div id="content">
  {{>hmrc_banner}}
     <style>
    .third
    {width:72%;}
    </style>
  <div class="grid-wrapper">
    <div class="grid grid 4-3-4">
      <div class="inner-block third">
        <span class="form-hint">Step 4 of 4</span></label>
  <h1 class="heading-large">Check your husband, wife or civil partner’s details</h1>
    <p>Check the details you`ve entered about your husband, wife or civil partner and make sure this is the person you want to transfer £1,060 of your Personal Allowance to.</p>

  <table>
    <tr>
      <td>First name</td>
      <td>Bob</td>
    </tr>
    <tr>
      <td>Last name</td>
      <td>Smith</td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>Male</td>
    </tr>
    <tr>
      <td>National Insurance (NI) Number</td>
      <td>JE 10 11 12 D</td>
    </tr>
  </table>

  <div class="form-group"><p class="paddingboost">


<fieldset class="inline sub-section validate " data-validation-name="previousQuestion" data-validation-type="fieldset" data-validation-rules="atLeastOneNonEmpty" data-validation-children="yes-contact-me previousNo">
 <div class="form-group"> 
    <fieldset>
    <label class="block-label" for="checkbox-1">
      <input id="checkbox-1" type="checkbox" value="waste-animal">
      By ticking this box you are making a legal declaration that you are this person’s husband, wife or civil partner before applying to transfer your Personal Allowance. 
    </label>
  </fieldset>
  <div>
 <div class="form-group"><p><a href="app-finished1_3" button class="button">Apply</a></p></div>
</div>
</main>
{{/content}}
{{/layout}}