
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<style type="text/css">
#sub3 {
display: none;
}
</style>

<script language="JavaScript">
function showDiv() {
   document.getElementById('sub3').style.display = "block";
}
</script>
<style>

.destination {
    color: #0b0c0c;
    display: block;
    font-family: "nta",Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-top: 0.5em;
    max-width: 13em;
    text-transform: none;
}
</style>




<br><br>
<span class="form-hint">Step 2 of 4</span></label>
<main id="content" role="main">

<div class="inner-block third">
  <h1 class="heading-xlarge">Verify your identity</h1>
<div><p>We use Verify as a way of identifying who you are. If you haven’t already, you’ll need to register using GOV.UK Verify and <a href="https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify">create an account</a> first.</p>
</div>
      <a href="app-ida1" button class="button" >Sign in</a>
      <a href="app-ida1" button class="button" >Register</a>
    </p>  
       <!--<a href="app-form1_2" button class="button">Continue to application form</a>*/-->
</fieldset>
</main>

{{/content}}
{{/layout}}