
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<style>
.heading-xlarge {
margin-top:0px;
}

.steps{
  color:#6f777b;
  padding-top: 30px;
  padding-left: 30px;
}.third {
    width: 72%;
}

</style>
<div id="global-header-bar">
      <div class="inner-block">
 <style>
.beta-label span.beta {
background: none repeat scroll 0 0 #f47738;
color: #fff;
display: inline-block;
font-family: "nta",Arial,sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 1;
margin-right: 10px;
padding: 5px 5px 2px 6px;
text-transform: uppercase;
}
.capitals{
  text-transform: uppercase;
}
</style>
<style>
    .third
    {width:72%;
    }
    .rightside
    {
      float:right;
      display:block;
      width:23%;
      margin-top:.3%;
    }
    .related {
    border-top: 10px solid #005ea5;
    padding-top: 5px;
}
.related h2 {
    color: #0b0c0c;
    font-family: "nta",Arial,sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 0.5em;
    margin-top: 0.3em;
    position: relative;
    text-transform: none;
}
.related ul {
    font-family: "nta",Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-transform: none;
}
.related li a {
    background-position: 0 -287px;
    background-repeat: no-repeat;
    display: block;
    line-height: 1.25em;
    orphans: 2;
}


    </style>
<div class="phase-banner">
<div class="beta-label">
<span class="beta">beta</span>
This is a
<a href="https://www.gov.uk/help/beta">trial service</a>
. Help us improve it - send your
<a href="contact/beta-feedback-unauthenticated">feedback</a>
.
</div>
</div>
        
      </div>
    </div>
    <!--end global-header-bar-->
<main id="content" role="main">
  <div class="steps">Step 2 of 4</div>
      <div class="rightside related">
        <h2 id="parent-subsection">Useful links</h2>
        <nav role="navigation" aria-labelledby="parent-subsection">
          <ul>
            <li><a href="#">What does income include?</a></li>
            <li><a href="#">What is Personal Allowance?</a></li>
            <li><a href="#">What is Marriage Allowance?</a></li>
            <li><a href="#">Calculate what you'll get</a></li>
          </ul>
        </nav>
      </div>
<div class="inner-block third">
  <h1 class="heading-xlarge">Verify your identity</h1>
<p>This service uses GOV.UK Verify to check your identity.</p>
<p>You’ll need:
<ul class="list-bullet">
  <li>a valid UK passport or UK photocard driving licence </li>
  <li> access to your financial information </li>
</ul>
You only have to verify your identity once - after that you can sign in with your username and password. </p>
      <a href="http://pirate:bunting@govuk-verify-test.herokuapp.com/intro?requestId=marriage-allowance" button class="button" >Next</a>
    </p>  
       <!--<a href="app-form1_2" button class="button">Continue to application form</a>*/-->
</fieldset>
</main>

{{/content}}
{{/layout}}