
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
       <style>
    .third
    {width:70%;}
    </style>
<div class="inner-block third">
<h1 class="heading-xlarge">Your claim for Marriage Allowance is being processed</h1>
Dear <span id="your-name">your name here</span>
    <p>An email confirming your claim will be sent to you at <a href="#">yourname@youremail.co.uk</a> from <a href="#">noreply@tax.service.gov.uk</a></p><p>If it doesn't appear in your inbox, please check your spam or junk folder.</p>
          <h2 class='heading-medium'>What happens now?</h1>
           <p> We will notify you and your partner about these changes and provide a new tax code to your partner by post.</p>
            <a href="xxxxxxxxx" button class="button">Finished</a>
</div>
</main>
{{/content}}
{{/layout}}
