
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}



<main id="content" role="main">

<div class="inner-block">
  <div class="header-context" id="global-breadcrumb">
    <ol class="group "role="breadcrumbs">
      <li><a href="/app-start1">Home</a></li>
      <li><a href="/app-eligibility1">Am I eligible?</a></li>
      <li>Apply</li>
    </ol>
  </div>
  <h1 class="heading-large">Transfer part of your tax allowance to your partner</h1>
  <p>Please give us your partner's details</p>

<form class="form b" method="get" action="app-confirm1">
<fieldset class="validate">
<div class="form-group">
<label class="form-label-bold" for="first-name">First name</label>
<input id="first-name" class="form-control" type="text">
</div>
<div class="form-group">
<label class="form-label-bold" for="middle-name">Middle names</label>
<input id="middle-name" class="form-control" type="text">
</div>
<div class="form-group">
<label class="form-label-bold" for="last-name">Last name</label>
<input id="last-name" class="form-control" type="text">
</div>
<div class="form-group">
  <label class="form-label-bold" for="ni-number">National Insurance number
  <span class="form-hint">It's on your National Insurance card, benefit letter, payslip or P60.
  <br>For example, 'VO 12 34 56 D'.</span></label>
  <input id="ni-number" class="form-control" type="text">
</div


     <div class="form-group">


<fieldset>
  <legend class="form-label-bold">Date of birth</legend>
  <div class="form-date">
    <p class="form-hint">For example, 31 3 1980</p>
    <div class="form-group form-group-day">
      <label for="dob-day">Day</label>
      <input id="dob-day" class="form-control" type="number" max="31" min="0" pattern="[0-9]*">
    </div>
    <div class="form-group form-group-month">
      <label for="dob-month">Month</label>
      <input id="dob-month" class="form-control" type="number" max="12" min="0" pattern="[0-9]*">
    </div>
    <div class="form-group form-group-year">
      <label for="dob-year">Year</label>
      <input id="dob-year" class="form-control" type="number" max="2014" min="0" pattern="[0-9]*">
    </div>
  </div>
</fieldset>
</div>

<div class="inner-block">
  <div class="form-group">
    <div class="panel-indent your-details">
    <p>
      Please check all the details above are correct before clicking on the 'Continue' button below.
    </p>
  </div>
</div>
<input type="submit" class="button next validation-submit" value="Continue" onsubmit="return checkEmail(this);">
</div>
  
</main>
{{/content}}
{{/layout}}