
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
<div class="inner-block">
<p></p>
 <div class="content">
          <div class="content-inner blue-box">
            <div class="grid-section grid-rev">
              <div class="grid-1-3">
                <figure><img alt="GOV.UK VERIFY" src="/public/gov-verify.gif"></figure>
              </div>
              <div class="grid-2-3">
                <h1>Before you apply to HMRC for this new tax reduction  <strong> you need to verify your identity</strong></h1><p>Is this your first time verifying your identity?</p>
                <div class="actions">
                  <a class="button-action" id="yes-im-new" href="app-ida7_1">Yes</a>
                  <a class="button-action" id="no-im-not-new" href="app-ida7_1">No</a>
                </div>
                <p class="gateway-about">You can&rsquo;t use Government Gateway with this service.</p>
              </div>
            </div>
          </div>
        </div>

</main>
{{/content}}
{{/layout}}