
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}



{{$content}}
<style>
  .verify{
  color:#424242;
  padding-left:49%;
  padding-top:20px;
}
.third{
width:72%
}
.validate{
padding-top: 10px;
}
.heading-xlarge {
margin-top:0px;
}

.steps{
  color:#6f777b;
  padding-top: 30px;
  padding-left: 30px;
}

table th, table td {
font-size:19px;
}
.booster{
  padding-top:10px;
}
.horizontal {
  border-bottom: solid thin #6f777b;
  margin-bottom: 20px;
  padding-top:20px;
}
.help-notice {
    background: url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-0976ff4a275422b183be917d4b3ef444.png) no-repeat scroll 0 2.5em;
    padding: 0.8em 0 0.8em 2.5em;
}
</style>
 <div id="global-header-bar">
      <div class="inner-block">
 <style>
.beta-label span.beta {
background: none repeat scroll 0 0 #f47738;
color: #fff;
display: inline-block;
font-family: "nta",Arial,sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 1;
margin-right: 10px;
padding: 5px 5px 2px 6px;
text-transform: uppercase;
}
.capitals{
  text-transform: uppercase;
}
</style>

<div class="phase-banner">
<div class="beta-label">
<span class="beta">beta</span>
This is a
<a href="https://www.gov.uk/help/beta">trial service</a>
. Help us improve it - send your
<a href="contact/beta-feedback-unauthenticated">feedback</a>
.
</div>
</div>

      </div>
    </div>
    <!--end global-header-bar-->

<div class="verify">You last signed in at 1:46pm, Friday 10 April 2015 | <a href="#">Sign Out</a></div>
<main id="content" role="main"><div class="steps">Step 4 of 4</div>
<div class="inner-block third">
  <h1 class="heading-xlarge">Check your spouse or civil partner's details </h1>
    <p>Check the details you've entered about your spouse or civil partner and make sure this is the person you want to transfer £1,060 of your Personal Allowance to.  </p>
 <div class="horizontal"></div>
      <h2 class="heading-large">From: <span style="color:#005ea5;">Robert Smith</span></h2>
          <div class="horizontal"></div>
  <h2 class="heading-large">Transfer my Personal Allowance to:</span></h2>
  <table>
    <tr>
      <td>First name</td>
      <td>Diane</td>
    </tr>
    <tr>
      <td>Last name</td>
      <td>Smith</td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>Female</td>
    </tr>
    <tr>
      <td>National Insurance (NI) number</td>
      <td>JE101112D</td>
    </tr>
  </table>

  <div class="form-group">
            <div class="application-notice help-notice">
            <p class="paddingboost"><b>Confirm that this is the person you are married to or in a civil partnership with and apply to transfer your Personal Allowance.</b></p>
        </div>

 <div class="form-group"><p class="booster"><a href="app-finished1_6" button class="button">Confirm and Apply</a></p></div>
</div>
</main>
{{/content}}
{{/layout}}