
{{<layout}}
{{$pageTitle}}Index{{/pageTitle}}
{{$content}}
<main id="content" role="main">
<div class="inner-block">
<p></p>
 <div class="content blue-box">
<div class="content-inner"><h1>A certified company will verify your identity - there’s no charge</h1>
<ul id="certified-companies" class="list-companies">
<li>
<img class="logo" src="public/experian.gif" alt="Experian">
</li>
<li>
<img class="logo" src="public/digidentity.gif" alt="Digidentity">
</li>
</ul>
<p>They’ve all met security standards set by the government.</p>
  <div class="actions"><a class="button-action" id="next" href="app-ida4">Start</a></div>
</div>
</div>
</main>
{{/content}}
{{/layout}}
