
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<style>
  .verify{
  color:#424242;
  padding-left:54%;
  padding-top:20px;
}
</style>
<h1 class="verify">John Smith, you last signed in on Saturday 21 February 2015</h1>
<main id="content" role="main">
       <style>
    .third
    {width:70%;}
    </style>
<div class="inner-block third">
<h1 class="heading-large">Your claim for Marriage Allowance is being processed</h1>
Dear <span id="your-name">your name here</span>
    <p>An email confirming your claim will be sent to you at <a href="#">yourname@youremail.co.uk</a> from <a href="#">noreply@tax.service.gov.uk</a></p><p>If it doesn't appear in your inbox, please check your spam or junk folder.</p>
          <h2 class='heading-medium'>What happens now?</h1>
           <p>We'll reduce your Personal Allowance by £1,060 and increase your partner's allowance by the same amount. We'll send your partner a new notice of tax coding by post.</p>
            <a href="http://gov.uk" button class="button">Finished</a>
</div>
</main>
{{/content}}
{{/layout}}
