
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<style>
.heading-xlarge {
margin-top:0px;
}

.steps{
  color:#6f777b;
  padding-top: 30px;
  padding-left: 30px;
}.third {
    width: 72%;
}

</style>
<div id="global-header-bar">
      <div class="inner-block">
 <style>
.beta-label span.beta {
background: none repeat scroll 0 0 #f47738;
color: #fff;
display: inline-block;
font-family: "nta",Arial,sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 1;
margin-right: 10px;
padding: 5px 5px 2px 6px;
text-transform: uppercase;
}
.capitals{
  text-transform: uppercase;
}
</style>

<div class="phase-banner">
<div class="beta-label">
<span class="beta">beta</span>
This is a
<a href="https://www.gov.uk/help/beta">trial service</a>
. Help us improve it - send your
<a href="contact/beta-feedback-unauthenticated">feedback</a>
.
</div>
</div>
        
      </div>
    </div>
    <!--end global-header-bar-->

<main id="content" role="main">
  <div class="steps">Step 2 of 4</div>
<div class="inner-block third">
  <h1 class="heading-xlarge">Verify your identity</h1>


<p>You must verify your identity to use this service for the first time. You’ll need:
<ul class="list-bullet"><li>a valid UK passport or UK photocard driving licence</li>
<li>access to your financial information</li></ul>
You only have to verify your identity once - after that you can sign in with your username and password.</p>
      <a href="app-ida1_3" button class="button" >Sign in</a>
      <a href="app-ida1_3" button class="button" >Register</a>
    </p>  
       <!--<a href="app-form1_2" button class="button">Continue to application form</a>*/-->
</fieldset>
</main>

{{/content}}
{{/layout}}