{{<govuk_template}}
    {{$head}}
      {{>head}}
      <!-- Additional head code, CSS, JS specific only to this file here. If needed on other screens consider moving to separate file -->
    {{/head}}
   
    {{$headerClass}}with-proposition{{/headerClass}}
   
    {{$footerTop}}
                {{>footer_links}}
    {{/footerTop}}
   
    {{$pageTitle}}
        Start
    {{/pageTitle}}
   
    {{$content}}
 
<main id="content" role="main"><div id="content">
  {{>hmrc_banner}}
     <style>
    .third
    {width:72%;}
    </style>
  <div class="grid-wrapper">
    <div class="grid grid 4-3-4">
      <div class="inner-block third">
        <h1 class="heading-xlarge">Apply for Marriage Allowance</h1>
        <p>For the tax year 2015 to 2016, most people will be able to earn up to £10,600 a year before paying tax on their <a href="https://www.gov.uk/income-tax/overview">income</a> which includes pensions, savings and investments. This is called a <a href="https://www.gov.uk/income-tax-rates">Personal Allowance</a>.</p><p>If your income is less than £10,600 (£880 a month), Marriage Allowance lets you transfer £1,060 of your Personal Allowance to your spouse or civil partner.</p>
        
        <div class="panel-indent"><p>This may reduce the amount of tax they pay each week or month and could be worth up to £212 a year. </p></div>
        
        <h2 class="heading-large">Before you start</h2>
        <p>You’ll be able to claim Marriage Allowance if all the eligibility criteria apply:</p>
          <ul class="list-bullet">
            <li>you’re married or in a <a href="xxxxxxxxxx">legally registered civil partnership</a></li> 
            <li>you have an annual income of less than £10,600 - including pensions,savings and investments</li>
            <li>your spouse or civil partner has an annual income of between £10,601 and £42,385</li>
            <li>you were both born on or after 6 April 1935</li>
          </ul>
          <h2 class="heading-large">Steps to apply</h2>
        <p><b>1.</b> You can use the <!--<a href="app-calc1_3">-->Marriage Allowance calculator</a> (optional) to see how much you may reduce your husband, wife or civil partner's tax by. 
        <p><b>2.</b> You'll need to use <a href="">UK.GOV Verify.</a> This is the government’s way of checking your identity. If you have never done this, you'll need to create an account first.</p>
        <p><b>3.</b> You'll need to give us your husband, wife or civil partner’s:
           <ul class="list-bullet">
            <li>first name and last name</a></li> 
            <li>gender</li>
            <li>National Insurance (NI) number</li>
          </ul>
</p>
        <p><b>4.</b> Confirm your husband, wife or civil partner’s details and apply.</p>
        <!--<h1 class="heading-large">Marriage Allowance calculator</h1>
        <p>You can use the <a href="app-calc1_3.html">calculator</a> to see how much you can reduce your spouse or civil partner's tax by.</p>*/-->

           <div class="panel-indent">It takes about 10 minutes to apply. You’ll get an email confirming your claim. </div>
        <a href="app-calc1_3" button class="button button-get-started">Start now</a>
   
</main>
{{/content}}
{{/govuk_template}}