
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}



{{$content}}
<style>
  .verify{
  color:#424242;
  padding-left:49%;
  padding-top:20px;
}
.third{
width:72%
}
.validate{
padding-top: 10px;
}
.heading-xlarge {
margin-top:0px;
}

.steps{
  color:#6f777b;
  padding-top: 30px;
  padding-left: 30px;
}

table th, table td {
font-size:19px;
}
.booster{
  padding-top:10px;
}
</style>
 <div id="global-header-bar">
      <div class="inner-block">
 <style>
.beta-label span.beta {
background: none repeat scroll 0 0 #f47738;
color: #fff;
display: inline-block;
font-family: "nta",Arial,sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 1;
margin-right: 10px;
padding: 5px 5px 2px 6px;
text-transform: uppercase;
}
.capitals{
  text-transform: uppercase;
}
</style>

<div class="phase-banner">
<div class="beta-label">
<span class="beta">beta</span>
This is a
<a href="https://www.gov.uk/help/beta">trial service</a>
. Help us improve it - send your
<a href="contact/beta-feedback-unauthenticated">feedback</a>
.
</div>
</div>
        
      </div>
    </div>
    <!--end global-header-bar-->

<div class="verify"><span class="capitals">John Smith</span> you last signed in on Saturday 21 February 2015 | <a href="#">Sign Out</a></div>
<main id="content" role="main"><div class="steps">Step 4 of 4</div>
<div class="inner-block third">
  <h1 class="heading-xlarge">Check your spouse or civil partner's details </h1>
    <p>Check the details you've entered about your spouse or civil partner and make sure this is the person you want to transfer some of your Personal Allowance to. </p>

  <table>
    <tr>
      <td>First name</td>
      <td>Bob</td>
    </tr>
    <tr>
      <td>Last name</td>
      <td>Smith</td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>Male</td>
    </tr>
    <tr>
      <td>National Insurance (NI) number</td>
      <td>JE101112D</td>
    </tr>
  </table>

  <div class="form-group"><p class="paddingboost">Confirm your spouse or civil partner's details and apply to transfer your Personal Allowance. </p>

 <div class="form-group"><p class="booster"><a href="app-finished1_4" button class="button">Confirm and Apply</a></p></div>
</div>
</main>
{{/content}}
{{/layout}}