
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}



<main id="content" role="main">

<div class="inner-block">
  <h1 class="heading-xlarge">Verify your identity</h1>

<form id="validate-age-residency" method="link" action="app-ida5">
<div class="form-group">
<fieldset class="inline">
<legend class="form-label-bold">Are you 19 or over?</legend>
<label class="block-label" for="age-yes">
<input id="age-yes" type="radio" value="true" name="age19YearsOrOver">
Yes
</label>
<label class="block-label" for="age-no">
<input id="age-no" type="radio" value="false" name="age19YearsOrOver">
No
</label>
</fieldset>
</div>
<div class="form-group form-group-tight">
<fieldset>
<legend class="form-label-bold">Have you always lived in the UK?</legend>
<label class="block-label" for="shortResidency-no">
<input id="shortResidency-no" type="radio" value="false" name="shortResidency">
Yes
</label>
<label class="block-label" for="shortResidency-less-than-12">
<input id="shortResidency-less-than-12" type="radio" value="true" name="shortResidency">
No - I moved to the UK within the last 12 months
</label>
<label class="block-label" for="shortResidency-more-than-12">
<input id="shortResidency-more-than-12" type="radio" value="false" name="shortResidency">
No - I moved to the UK more than 12 months ago
</label>
</fieldset>
</div>
<div class="form-group">
<input id="next-button" class="button" type="submit" value="Next">
</div>

</form>
</main>
{{/content}}
{{/layout}}