
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<style>
  .verify{
  color:#424242;
  padding-left:54%;
  padding-top:20px;
}
</style>
<h1 class="verify">John Smith, you last signed in on Saturday 21 February 2015</h1>



<main id="content" role="main">

     <style>
    .third
    {width:65%;}
    .validate{padding-top: 10px;}
    </style>
<script type="text/javascript" language="JavaScript">

<!--
//--------------------------------
// Quick Dirty Compare 2 fields for proto
//--------------------------------
function checkEmail(theForm) {
    if (theForm.EMAIL1.value != theForm.EMAIL2.value)
    {
        //alert('NO MATCHY');
        document.getElementById("emailMismatch").innerHTML = "<div class='validation-message'>Your email address does not match, please check and submit again</div>";
        return false;
    } else {
        return true;
    }
}
//-->
</script> 
<div class="inner-block third">
  <h1 class="heading-xlarge">Give us your partner's details</h1>
  <p>Based on the information you gave us, you may benefit by £xxxxx</p>
  <p>Enter details about your partner to transfer that amount to them.</p>
<form class="form b" method="link" action="app-confirm1_2" onsubmit="return checkEmail(this);">
<fieldset class="validate">
 <div class="form-group">
    <label class="form-label" for="first-name">First name</label>
    <input class="form-control" id="first-name" type="text">
  </div>
  <div class="form-group">
    <label class="form-label" for="last-name-2">Last name</label>
    <input class="form-control" id="last-name-2" type="text">
  </div>
    <div class="form-group">
            <fieldset class="validate " data-validation-name="gender" data-validation-type="fieldset" data-validation-rules="atLeastOneNonEmpty" data-validation-children="male female">
            <label class="form-label" for="gender">Gender</label>

        <label for="gender_male" class="selectable selected">
            <input type="radio" id="gender_male" name="gender.male" value="Male" class="radio  validate" data-validation-name="male" data-validation-type="field" data-validation-rules="nonEmpty">
            Male
        </label>

                <label for="gender_female" class="selectable selected">
            <input type="radio" id="gender_female" name="gender.male" value="Male" class="radio  validate" data-validation-name="female" data-validation-type="field" data-validation-rules="nonEmpty">
            Female
        </label>

    </fieldset>
  </div>
   <div class="form-group">
    <label class="form-label" for="email1">National Insurance (NI) number</label>
    <span class="form-hint">For example, QQ 12 34 56 C</span>
    <input class="form-control" name="EMAIL1" id="email1" type="text">
  </div>
<!--       <div class="form-group">
          <p>Please give us your email address so that we can send you a confirmation<br>of your claim.</p>
    <label class="form-label" for="email2">Your email</label>
    <input class="form-control" name="EMAIL2" id="email2" type="text">
  </div>
     <div class="form-group">
    <label class="form-label" for="email2">Confirm your email</label>
    <input class="form-control" name="EMAIL2" id="email2" type="text">
  </div>
<div id="emailMismatch"> </div>

</fieldset>

<fieldset class="inline">
  <div class="form-group">
<fieldset class="inline sub-section validate " data-validation-name="previousQuestion" data-validation-type="fieldset" data-validation-rules="atLeastOneNonEmpty" data-validation-children="yes-contact-me previousNo">
 <div class="form-group"> 
    <fieldset>
    <label class="block-label" for="checkbox-1">
      <input id="checkbox-1" type="checkbox" value="waste-animal">
      HMRC may contact me about improving this service.
    </label>
  </fieldset>
  </div>
    <div class="panel-indent your-details">
    <p>
      Your details won't be shared with anyone and are completely secure.
    </p>
  </div>
</fieldset>-->
  <input type="submit" class="button next validation-submit" value="Submit" onsubmit="return checkEmail(this);">
</main>
</form>
{{/content}}
{{/layout}}