
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}



<main id="content" role="main">

<div class="inner-block">
  <div class="header-context" id="global-breadcrumb">
    <ol class="group "role="breadcrumbs">
      <li><a href="/app-start1">Home</a></li>
      <li><a href="/app-eligibility1">Am I eligible?</a></li>
      <li>Apply</li>
    </ol>
  </div>
  <h1 class="heading-large">Confirm your partner's details</h1>
  <div class="panel-indent your-details">
    <p>Please check the details above are correct before clicking on the 'Apply' button below.</p>
  </div>

<div class="inner-block">
  <table>
  <thead>
    <tr>
      <th colspan="2">Your Partner's details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <td>  Bob Smith</td>
    </tr>
    <tr>
      <td>Date of Birth</td>
      <td>6 March 1962</td>
    </tr>
    <tr>
      <td>National Insurance Number</td>
      <td>  JE 10 11 12 D</td>
    </tr>
  </tbody>
  </table>
</div>


<div class="inner-block">
  <div class="form-group"><p class="paddingboost">
<input type="submit" class="button next validation-submit" value="Continue" onsubmit="return checkEmail(this);"></p>
</div>
</div>
</main>
{{/content}}
{{/layout}}