
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}

<style>
  .verify{
  color:#424242;
  padding-left:49%;
  padding-top:20px;
}
.third{
width:72%
}
.validate{
padding-top: 10px;
}
.heading-xlarge {
margin-top:0px;
}

.steps{
  color:#6f777b;
  padding-top: 30px;
  padding-left: 30px;
}
</style>
<div id="global-header-bar">
      <div class="inner-block">
 <style>
.beta-label span.beta {
background: none repeat scroll 0 0 #f47738;
color: #fff;
display: inline-block;
font-family: "nta",Arial,sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 1;
margin-right: 10px;
padding: 5px 5px 2px 6px;
text-transform: uppercase;
}
.capitals{
  text-transform: uppercase;
}
.error .error-notification {
  display: block;
  float: none;
}
.form-field--error {
    background-color: #fef7f7;
    border-left: 3px solid #df3034;
    padding: 0.75em 1em;
}
</style>

<div class="phase-banner">
<div class="beta-label">
<span class="beta">beta</span>
This is a
<a href="https://www.gov.uk/help/beta">trial service</a>
. Help us improve it - send your
<a href="contact/beta-feedback-unauthenticated">feedback</a>
.
</div>
</div>
        
      </div>
    </div>
    <!--end global-header-bar-->



<div class="verify">You last signed in on Saturday 21 February 2015 | <a href="#">Sign Out</a></div>
<main id="content" role="main"><div class="steps">Step 3 of 4</div>
<div class="inner-block third">
  
  <h1 class="heading-xlarge">Marriage Allowance: your spouse or civil partner's details </h1>
  <p>Give us details about your spouse or civil partner to transfer £1,060 of your Personal Allowance to them. </p>
<form class="form b" method="link" action="app-confirm1_3" >
<fieldset class="validate">
  <div class="form-group">
    <!--<span class="form-label form-field--error">This field is required</span>-->
    <label class="form-label" for="first-name">Spouse or civil partner’s first name
    <span class="form-hint">As it appears on their passport or birth certificate.</span></label>
    <input class="form-control" id="first-name" type="text">
  </div>
  <div class="form-group">
    <label class="form-label" for="last-name-2">Spouse or civil partner’s last name </label>
    <input class="form-control" id="last-name-2" type="text">
  </div>

<div class="form-group">
 <fieldset class="inline"><label class="form-label" for="gender">Gender</label>
 <span class="form-hint">This information will help us confirm their identity</span>
    <label class="block-label" for="radio-inline-1">
      <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
      Male
    </label>
    <label class="block-label" for="radio-inline-2">
      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
      Female
    </label>
  </fieldset>
 </div>
   <div class="form-group">
    <label class="form-label" for="email1">Their National Insurance (NI) number</label>
    <span class="form-hint">For example, QQ 12 34 56 C<br/>
This can be found on their National Insurance card or in official paperwork such as payslips, letters about benefits or tax credits 
</span>
    <input class="form-control" name="EMAIL1" id="email1" type="text">
  <h2 class="heading-large">Confirmation email</h2>
  <p>We need to email you confirmation of your application. </p>
    <label class="form-label" for="email2">Your email</label>
    <input class="form-control" name="EMAIL2" id="email2" type="text">
  </div>
  <a href="app-confirm1_5" button class="button">Next</a>

</fieldset>
</main>
{{/content}}
{{/layout}}