
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
<div class="inner-block">
<div class="header-context" id="global-breadcrumb">
        <ol class="group "role="breadcrumbs">
  <li><a href="/app-start1">Home</a></li>
  <li><a href="/app-eligibility1">Am I eligible?</a></li>
   <li><a href="/app-form1">Apply</a></li>
    <li>Done</li>
  </ol>
</div>
<h1 class="heading-xlarge">You've now transferred part of your unused personal tax allowance to your partner</h1>
Dear <span id="your-name">your name here</span>
    <p>An email confirming you've done this has been sent to you from <a href="#">noreply@digital.hmrc.gov.uk</a><br>If it doesn't appear in your inbox, please check your spam or junk folder and add us to your safe list.<br>
          <h2 class='heading-medium'>Your new tax code is: 900L</h1>For more information on your new tax code, please <a href="#">click here.</a></p>
        <!--<div class="panel-indent">
    <p>
      Applying should take no more than 20 minutes and you will only need to do it once.
    </p>
  </div>-->
</div>
</main>
{{/content}}
{{/layout}}
