
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<style>
  .verify{
  color:#424242;
  padding-left:54%;
  padding-top:20px;
}
</style>
<h1 class="verify">John Smith, you last signed in on Saturday 21 February 2015</h1>


<main id="content" role="main"><div id="content">
  {{>hmrc_banner}}
     <style>
    .third
    {width:72%;}
    </style>
  <div class="grid-wrapper">
    <div class="grid grid 4-3-4">
      <div class="inner-block third">
  <h1 class="heading-large">Your partner’s details</h1>
    <p>Check the details you’ve entered about your partner. Make sure you're happy with the information you gave before calculating how much you can transfer.</p>

  <table>
    <tr>
      <td>First name</td>
      <td>Bob</td>
    </tr>
    <tr>
      <td>Last name</td>
      <td>Smith</td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>Male</td>
    </tr>
    <tr>
      <td>National Insurance (NI) Number</td>
      <td>JE 10 11 12 D</td>
    </tr>
  </table>

  <div class="form-group"><p class="paddingboost">
<p>If this is not the correct person go <a href="javascript:history.go(-1)">back to the previous page</a> to try again.</p>
   <!--   <div class="panel-indent">
    <p>
      By clicking on the 'Apply' button below, you will be transferring your personal tax allowance on to your (partner's name displayed here) to reduce the tax they pay.
    </p>
     <p>
      Please note that depending on your incomes and personal circumstances, your partner may not benefit by the full £212.
    </p>
  </div>-->
  <div>
<a href="app-finished1_2" button class="button">Confirm</a>
</div>
</main>
{{/content}}
{{/layout}}