
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<style>
.heading-xlarge {
margin-top:0px;
}

.steps{
  color:#6f777b;
  padding-top: 30px;
  padding-left: 30px;
}.third {
    width: 72%;
}

</style>
<div id="global-header-bar">
      <div class="inner-block">
 <style>
.beta-label span.beta {
background: none repeat scroll 0 0 #f47738;
color: #fff;
display: inline-block;
font-family: "nta",Arial,sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 1;
margin-right: 10px;
padding: 5px 5px 2px 6px;
text-transform: uppercase;
}
.capitals{
  text-transform: uppercase;
}
</style>
<style>
    .third
    {width:72%;
    }
    .rightside
    {
      float:right;
      display:block;
      width:23%;
      margin-top:.3%;
    }
    .related {
    border-top: 10px solid #005ea5;
    padding-top: 5px;
}
.related h2 {
    color: #0b0c0c;
    font-family: "nta",Arial,sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 0.5em;
    margin-top: 0.3em;
    position: relative;
    text-transform: none;
}
.related ul {
    font-family: "nta",Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    list-style: outside none none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-transform: none;
}
.related li a {
    background-position: 0 -287px;
    background-repeat: no-repeat;
    display: block;
    line-height: 1.25em;
    orphans: 2;
}

.ma-boost{
  font-weight: bold;
  padding-top: 0px;

}
.booster{
  padding-top:3px;
}

.help-notice{
    background: url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-0976ff4a275422b183be917d4b3ef444.png) no-repeat scroll 0 .4em;
    padding: 0 0 0 2.5em;
}
  </style>
<div class="phase-banner">
<div class="beta-label">
<span class="beta">beta</span>
This is a
<a href="https://www.gov.uk/help/beta">trial service</a>
. Help us improve it - send your
<a href="contact/beta-feedback-unauthenticated">feedback</a>
.
</div>
</div>
        
      </div>
    </div>
    <!--end global-header-bar-->
<main id="content" role="main">
  <div class="steps">Step 2 of 4</div>
<div class="inner-block third">
  <h1 class="heading-xlarge">Choose an option<br>to verify your identity (v2)*</h1>
    <h1 class="heading-medium">1. Verify to use all online government services</h1>
<p>To transfer your Personal Allowance to your spouse or civil partner online, you'll need to use <a href="https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify">GOV.UK Verify</a> - the new way for you to prove who you are online, so you can use government services safely.</p>
<p>To do this, you'll need to choose a certified company who will ask questions that only you know the answer to.</p>
<p>You only have to verify your identity once. After that you can sign in with your username and password and use these to sign into other online government services.</p>
    <div class="help-notice"> 
    <p class="ma-boost">Before you continue, remember it's the person on the lower income making the transfer who should be verifying their identity.</p>
    </div>
<a href="#" button class="button" >Verify now</a>

 <div class="panel-indent">If you can't use GOV.UK Verify you can still apply for Marriage Allowance online by verifying your identity with HMRC (option 2) or by telephone. You'll be given the telephone option if you can't verify your identity online.</div>

  <h1 class="heading-medium">2. Verify with HMRC to apply for Marriage Allowance only</h1>
<p>If you'd prefer to simply answer some security questions directly with HMRC, you can do this instead.</p>
    <div class="application-notice help-notice">
    <p class="ma-boost">Before you continue, remember it's the person on the lower income making the transfer who should be verifying their identity.</p>
    </div>

<a href="#" button class="button" >Verify with HMRC</a>
      
            <!--<a href="http://pirate:bunting@govuk-verify-test.herokuapp.com/intro?requestId=marriage-allowance" button class="button" >Verify now</a>-->
    </p>  
       <!--<a href="app-form1_2" button class="button">Continue to application form</a>*/-->
</fieldset>
</main>

{{/content}}
{{/layout}}