
{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<div id="global-header-bar">
      <div class="inner-block">
 <style>
.beta-label span.beta {
background: none repeat scroll 0 0 #f47738;
color: #fff;
display: inline-block;
font-family: "nta",Arial,sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 1;
margin-right: 10px;
padding: 5px 5px 2px 6px;
text-transform: uppercase;
}
.capitals{
  text-transform: uppercase;
}
</style>

<div class="phase-banner">
<div class="beta-label">
<span class="beta">beta</span>
This is a
<a href="https://www.gov.uk/help/beta">trial service</a>
. Help us improve it - send your
<a href="contact/beta-feedback-unauthenticated">feedback</a>
.
</div>
</div>
        
      </div>
    </div>
    <!--end global-header-bar-->
<style>
  .verify{
  color:#424242;
  padding-left:49%;
  padding-top:20px;
}
</style>
<div class="verify"><span class="capitals">John Smith</span> you last signed in on Saturday 21 February 2015 | <a href="#">Sign Out</a></div>
<main id="content" role="main">
       <style>
    .third
    {width:70%;}
    </style>
<div class="inner-block third">
<h1 class="heading-xlarge">Your application for Marriage Allowance</h1>

    <p>An email confirming your application will be sent to you at  <a href="#">yourname@youremail.co.uk</a> from <a href="#">noreply@tax.service.gov.uk</a></p><p>If it doesn't appear in your inbox, please check your spam or junk folder.</p>
          <h2 class='heading-medium'>What happens now?</h1>
           <p>We'll reduce your Personal Allowance by £1,060 and increase your spouse or civil partner's allowance by the same amount.</p>
           <p>If they usually complete a Self-Assessment return, we'll write to them to confirm the transfer. </p>
           <p>If they're employed and pay tax via PAYE, we'll send them a revised notice of tax coding by post.</p>
            <a href="http://gov.uk" button class="button">Finished</a>
</div>
</main>
{{/content}}
{{/layout}}
