<html><head>
<meta content="utf-8" http-equiv="encoding">
<title>Email Confirmation</title>
</head>
<body style="font-family: Helvetica, Arial, sans-serif;margin: 0;color: #0b0c0c">
<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#0b0c0c">
    <tr>
        <td width="100%" height="53px">
            <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td width="35">
                        <img src="http://www-dev.tax.service.gov.uk/template/assets/images/gov.uk_logotype_crown.png" alt="GOV.UK" border="0" style="width: 35px;height: 31px;border: none;">
                    </td>
                    <td width="6"></td>
                    <td style="color: white;font-weight: bold;font-size: 30px;">GOV.UK</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
    <tr>
        <td width="100%">
            <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td width="100%" class="header" style="padding-top: 10px;" colspan="2">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
                            <tr>
                                <td width="6" style="border-left: 2px solid #009390;"></td>
                                <td width="26">
                                    <img src="http://www-dev.tax.service.gov.uk/assets/1.23.0/images/icons/crests/hmrc_crest_18px.png" alt="HMRC Logo" style="width: 26px; height: 26px; display:block;"></td>
                                <td width="7"></td>
                                <td><h2 style="font-size: 18px; line-height: 20px; font-weight: 300; margin: 0"><span>HM Revenue &amp; Customs</span></h2></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="75%">
                        <h1 style="font-weight: 700;font-size: 36px;line-height: 1.041666667;margin: 30px 0 30px 0;"></h1>
                    </td>
                    <td width="25%">&nbsp;</td>
                </tr>
                <tr>
                    <td width="75%">
<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Dear First Name Last Name</p>
<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Applications for the new Marriage Allowance are now open.</p>
<p style="font-size: 19px; margin: 0 0 30px 0;">You can use the Marriage Allowance calculator (optional) to see how much you may reduce your spouse or civil partner's tax by. </p>

<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;"><strong>Before you start</strong> </p>
<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">You’ll be able to apply for Marriage Allowance if you meet the following criteria:
<ul class="list-bullet">
            <li>you’re married or civil partnership</li> 
            <li>you have an annual income of £10,600 or less - including pensions, savings and investments</li>
            <li>your spouse or civil partner has an annual income of between £10,601 and £42,385</li>
            <li>you were both born on or after 6 April 1935</li>
          </ul></p>
          <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">You’ll need the following information:
          <ul class="list-bullet">
            <li>your spouse or civil partner’s first and last name</li>
            <li>their gender</li>
            <li>their National Insurance (NI) number</li>
        </ul>
</p>
<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">You’ll also need access to your own information. The GOV.UK Verify account will take you through this, but you must verify your identity to use this service for the first time. </p>
<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
You’ll need:
<ul class="list-bullet">
            <li>•a valid UK passport or UK photocard driving licence</li>  
            <li>access to your financial information</li>
            <li>your spouse or civil partner has an annual income of between £10,601 and £42,385</li>
            <li>you were both born on or after 6 April 1935</li>
          </ul></p>
 <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">You only have to verify your identity once - after that you can sign in with your username and password.</p> 
 <p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">Applying for Marriage Allowance takes about 10 minutes to apply. You’ll get an email confirmation. </p>
<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;"><a href="#">Marriage Allowance</a></p>

<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">You received this email because you gave us your contact details for Marriage Allowance updates.</p>
<p style="font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">If you don’t want any further information on this service, email <a href="#">UNSUBSCRIBE@xxxxxxx.com</a>, or reply to this email with the word UNSUBSCRIBE as the subject line of your message. </p>
                    </td>
                    <td width="25%">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#dee0e2">
    <tr>
        <td width="100%" height="53px">
            <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td width="100%" style="padding: 15px 0 0;">
                        
                        <p style="font-size: 14px;line-height: 1.125;margin: 0 15px 30px">If you're unsure an email is from HMRC:</p>
                        <ul>
                            <li style="font-size: 14px;line-height:1.125;margin:0 15px 0">do not reply to it or click any links</li>
                            <li style="font-size: 14px;line-height:1.125;margin:0 15px 0">forward it to phishing@hmrc.gsi.gov.uk</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<img width="1px" height="1px" alt="" src="http://email.qa.tax.service.gov.uk/o/ZD0wZTAxNiZpPTIwMTQxMjMwMTQ1MjI3LjIyMjE0LjE4NTM0JTQwcWEudGF4LnNlcnZpY2UuZ292LnVrJmg9NGEwYjYzNGQ3Mjg5ZGU1ODU4NDU2ZThjN2M4YTE3YWQmcj1wYW5rYWouYS5raGFyZSU0MGFjY2VudHVyZS5jb20mdD10YW1jJnQ9dGFtY19yZWdpc3RyYXRpb25fdGVtcGxhdGVfaWQ"></body>
</html>

