
{{<layout}}
{{$pageTitle}}Index{{/pageTitle}}
{{$content}}
<main id="content" role="main">
<div class="inner-block">
<p></p>
 <div class="content blue-box">
<div class="content-inner"><h1>Benefits of GOV.UK Verify:</h1>
  <ul class="list-icons">
    <li><i class="icon icon-padlock"></i><strong>Secure</strong> - stops someone pretending to be you,<br> helps prevent identity theft</li>
    <li><i class="icon icon-clock"></i><strong>Fast</strong> - takes 10 minutes</li>
    <li><i class="icon icon-tick"></i><strong>Verify once</strong> - access many GOV.UK services</li>
  </ul>
  <div class="actions"><a class="button-action" id="next" href="app-ida3">Next</a></div>
</div>
</div>
</main>
{{/content}}
{{/layout}}
